
<h3> My bets </h3>
{{!-- <a href="/buds"> buds </a>
{{#each nums}}
<div> value {{ value }}  </div>
{{/each}} --}}

    <div class="flex flex-row justify-between">
        <div class="flex flex-col justify-center items-center bg-gray-200 rounded-lg p-4 m-4">
            <h3>{{bet.title}}</h3>
            <p>{{bet.description}}</p>
            <p>{{bet.amount}}</p>
            <p>{{bet.date}}</p>
            <p>{{bet.status}}</p>
        </div>
    </div>
    {{/each}}
    </div>

    
<div class="flex justify-center items-center h-screen">
  <button class="flex shadow w-32 block border-blue-600 border-2 rounded-full focus:outline-none focus:border-blue-600 px-4 py-2 text-blue-600 hover:bg-blue-600 hover:text-white">
    <span class="mx-auto">Create bet</span>
  </button>
</div>